# Build output
/dist
**/dist
/build
**/build

# Node dependencies
/node_modules
**/node_modules

# TypeScript incremental build info
*.tsbuildinfo
**/*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-debug.log

# Environment variables
.env
.env.*
!.env.example
!.env.docker.example

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Coverage
coverage
**/coverage

# Next.js
.next
**/out
